/* color palette from <https://github.com/vuejs/theme> */
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,600;0,700;1,400&display=swap');


:root {
  --bg-primary-color: #F7E7E6;
  --bg-secondary-color: #FFE9DB;
  --text-main-color: #f2f2f2;
  --text-secondary-color: #f1f1f1;
  
  --color-palette-1: #F7E7E6;
  --color-palette-2: #FFC49E;
  --color-palette-3: #FF7D58;
  --color-palette-4: #FF6263;
  --color-palette-5: #FF4A6D;
  --color-palette-6: #29011D;

  --border-color-boxes: rgba(255, 74, 109, 0.6);
  --border-color-nav: #FAA09A;

 
}



*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: 'Arimo', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

